<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">CineMax</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex align-items-center">
            <!-- <button class="iconSVG"><img (click)="deleteMovie(m.id)" title="Delete movie" src="assets/images/delete.svg"></button> -->
            <a class="nav-link p-0 active homeSVG" aria-current="page" routerLink="/home"><img src="assets/images/home.svg"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/repertoire">Repertoire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user"
            *ngIf="(userService.roleMatch(['User']) || userService.roleMatch(['Admin'])) && isLoggedIn()"
            >Your tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin"
            *ngIf="userService.roleMatch(['Admin']) && isLoggedIn()"
            >Administration</a>
          </li>
         
        </ul>
        <!-- <button *ngIf="! isLoggedIn()" routerLink="/login" style="border: unset; background-color: unset;"><img src="assets/images/login.svg"></button>
        <button *ngIf="isLoggedIn()" (click)="logout()" style="border: unset; background-color: unset;"><img src="assets/images/logout.svg"></button> -->
        <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()" >Logout</button>
      </div>
    </div>
  </nav>