<div class="container border">
  <div class="container border-bottom p-5 pb-3">
    <div class="row">
      <div class="col-sm">
        <img src="{{movie.photo}}" class="photoDTL rounded-3 ms-5">
      </div>
      <div class="col-sm p-4 border border-1 rounded-3 me-5">
        <h1 class="border-bottom">{{movie.title}}</h1>
        <br>
        <div class="row border-bottom">
          <div class="col-2">Description: </div>
          <div class="col-10  mb-2">{{movie.description}}</div>
        </div>
        <br>
        <p class="border-bottom">Director: &nbsp;&nbsp;{{movie.director}}</p>
        <br>
        <p class="border-bottom">Duration: &nbsp;&nbsp;{{movie.duration}} min</p>
        <br>
        <p class="border-bottom">Release date: &nbsp;&nbsp;{{movie.releaseDate}}</p>
        <br>
        <p class="border-bottom">Category: &nbsp;&nbsp;{{movie.category.name}}</p>
        <br>
        <div class="row border-bottom">
          <div class="col-6">
            <ngb-rating *ngIf="! isLoggedIn()" [max]="10" routerLink="/login"></ngb-rating>
            <ngb-rating *ngIf="isLoggedIn() && !ratedByCurrUser" [max]="10" [(rate)]="currentRate"
              (rateChange)="rateMovie()"></ngb-rating>
            <ngb-rating *ngIf="isLoggedIn() && ratedByCurrUser" [max]="10" [rate]="movie.averageRate"
              [readonly]="true"></ngb-rating>
          </div>
          <div class="col-6" style="padding-top: 15px;">
            <p class="ms-3">Average rat: &nbsp;&nbsp;{{movie.averageRate}}</p>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
          <a (click)="goToTickets(movie)" class="btn btn-primary">Projections</a>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container my-1 pt-2 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex flex-start w-100">
                <div class="w-100">
                  <h5>Add a comment</h5>
                  <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample" [(ngModel)]="commentText" rows="4"></textarea>
                  </div>
                  <div class="d-flex justify-content-end mt-3">
                    <button *ngIf="! isLoggedIn()" type="button" class="btn btn-success"
                      routerLink="/login">Add</button>
                    <button *ngIf="isLoggedIn()" type="button" class="btn btn-success"
                      (click)="addComment()">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-2 pb-3">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 d-flex justify-content-center">
          <div class="card text-dark" style="width: 622.4px;">
            <div class="card-body p-4">
              <h4 class="mb-0">Recent comments</h4>
              <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

              <hr class="my-0" />

              <div *ngFor="let com of comments">
                <div class="card-body px-4 py-2 d-flex justify-content-between">
                  <div class="d-flex flex-start">
                    <div>
                      <h5 class="fw-bold mb-1">{{com.user.userName}}</h5>
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          {{com.date}}
                        </p>
                      </div>
                      <p class="mb-0">
                        {{com.text}}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="usersComent(com)" class="d-flex align-items-center">
                    <a class="btn btn-danger ms-1" (click)="deleteComment(com.id)">Delete</a>
                  </div>
                </div>
                <hr class="my-0" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>