<div class="container mt-3">
    <div class="card card-header mb-2">
        <h2 class="text-center">Admin dashboard</h2>
    </div>
    <div class="rounded border">
        <ul class="nav nav-tabs nav-fill" style="background: #f0f2f5;">
            <li class="nav-item">
                <a [ngClass]="forDisplay==='movies'?'active':''" class="nav-link" 
                    (click)="showAdminMoviesComponent()">Movies</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="forDisplay==='projections'?'active':''" class="nav-link"
                    (click)="showAdminProjectionsComponent()">Projections</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="forDisplay==='tickets'?'active':''" class="nav-link"
                    (click)="showAdminTicketsComponent()">Tickets</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="forDisplay==='users'?'active':''" class="nav-link"
                    (click)="showAdminUsersComponent()">Users</a>
            </li>
        </ul>

        <app-admin-movies *ngIf="forDisplay==='movies'"></app-admin-movies>
        <app-admin-projections *ngIf="forDisplay==='projections'"></app-admin-projections>
        <app-admin-tickets *ngIf="forDisplay==='tickets'"></app-admin-tickets>
        <app-admin-users *ngIf="forDisplay==='users'"></app-admin-users>

    </div>
</div>