<div class="container mt-3">
    <div class="card">
        <div class="card-header text-center">
            <h2>Your tickets:</h2>
        </div>
        <div class="card-body album py-3 mt-1">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div *ngFor="let t of tickets" class="col-md-3 card text-bg-light mb-4 mx-2">
                        <div class="card-header">
                            <strong>Ticket ID: {{t.id}}</strong><br>
                            <strong>Price: {{t.price}} din</strong>
                        </div>
                        <div class="card-body">
                            <strong>Projection:</strong>
                            <div class="ps-2">
                                Date: {{t.projection.dateProjection.slice(0,10)}}<br>
                                Location: {{t.projection.hall.cinema.city.name}},
                                {{t.projection.hall.cinema.name}}<br>
                                Hall: {{t.projection.hall.name}}
                            </div>
                            <strong>Movie:</strong>
                            <div class="ps-2" style="height: 96px;">
                                Title: {{t.projection.movie.title}}<br>
                                Duration: {{t.projection.movie.duration}} min<br>
                                Start time: {{t.projection.startTime.slice(0, 5)}}<br>
                            </div>
                            <strong>Ticket owner:</strong>
                            <div class="ps-2 mb-1">
                                Name: {{t.user.userFirstName}} {{t.user.userLastName}}
                            </div>
                            <strong>
                                Reserved seats: (
                                <ng-container *ngFor="let s of t.seats; last as isLast"> {{s.number}}<ng-container
                                        *ngIf="! isLast">,</ng-container></ng-container> )
                            </strong>
                            <div class="d-flex justify-content-center pt-2">
                                <a class="btn btn-danger" (click)="deleteTicket(t.id)">Cancel the reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>