<div class="d-flex justify-content-between align-items-center py-3 px-4">
    <div class="d-flex justify-content-between">
        <button  type="button" class="btn btn-outline-secondary"
            data-bs-toggle="modal" data-bs-target="#exampleModalFilters">Filters</button>
        <div  class="d-flex align-items-center ms-4">
            <label class="me-1 ">Sort by username: </label>
            <button type="button" class="btn btn-outline-secondary me-3" (click)="changeSort()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-sort-down" viewBox="0 0 16 16">
                    <path *ngIf="sort==='desc'"
                        d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z">
                    </path>
                    <path *ngIf="sort==='asc'"
                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <a  class="btn btn-success" routerLink="/register">Add user</a>
    </div>
</div>

<div *ngIf="users" class="tab-content" id="pills-tabContent">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-3"><strong>Username:</strong></div>
                <div class="col-3"><strong>First name:</strong></div>
                <div class="col-3"><strong>Last name:</strong></div>
                <div class="col-3"><strong>Role:</strong></div>
            </div>
        </div>
    </div>
    <div *ngFor="let u of users; index as i" class="list-group">
        <a class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-3">
                    <div class="w-100">
                        <h5 class="ms-2">{{u.userName}}</h5>
                    </div>
                </div>
                <div class="col-3">{{u.userFirstName}}</div>
                <div class="col-3">{{u.userLastName}}</div>
                
                <div class="col-3 d-flex justify-content-between align-items-center">
                    <div *ngIf="roles">
                        <select [(ngModel)]="users[i].roles[0].roleName"
                            (ngModelChange)="setNewRole($event, u.userName)">
                            <option *ngFor="let r of roles" [value]="r.roleName" [attr.selected]="r.roleName === u.roles[0].roleName ? true : null">
                                {{ r.roleName }}
                            </option>
                        </select>
                    </div>
                    <button class="iconSVG deleteSVG"><img (click)="deleteUser(u.userName)" title="Delete user" src="assets/images/delete.svg"></button>
                    <!-- <a class="btn btn-danger me-4" (click)="deleteUser(u.userName)">Delete</a> -->
                </div>
            </div>
        </a>
    </div>
</div>

<nav *ngIf="users" aria-label="..." class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        <div *ngIf="currentPage===0; else elseBlock">
            <li class="page-item disabled  me-1">
                <span class="page-link btn btn-light border border-secondary border-opacity-25">Previous</span>
            </li>
        </div>
        <ng-template #elseBlock>
            <li class="page-item  me-1">
                <a class="page-link btn btn-light border border-secondary"
                    (click)="decrementPage()">Previous</a>
            </li>
        </ng-template>

        <div *ngFor="let item of createRange(pageCount); index as i">
            <div *ngIf="i!==currentPage; else elseBlock2">
                <li class="page-item">
                    <a class="btn btn-light border border-secondary" (click)="goToPage(i)">{{i + 1}}</a>
                </li>
            </div>
            <ng-template #elseBlock2>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{i + 1}}</span>
                </li>
            </ng-template>
        </div>

        <div *ngIf="currentPage===pageCount-1; else elseBlock1">
            <li class="page-item disabled ms-1">
                <span class="page-link btn btn-light border border-secondary border-opacity-25">Next</span>
            </li>
        </div>
        <ng-template #elseBlock1>
            <li class="page-item ms-1">
                <a class="page-link btn btn-light border border-secondary" (click)="incrementPage()">Next</a>
            </li>
        </ng-template>
    </ul>
</nav>

<div class="modal fade" id="exampleModalFilters" tabindex="-1" aria-labelledby="exampleModalLabelFilters"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelFilters">Filter users</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label class="col-form-label">Search by username:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Search by username:"
                                aria-describedby="button-addon2" [(ngModel)]="username" value="{{username}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Search by first name:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Search by first name:"
                                aria-describedby="button-addon2" [(ngModel)]="firstName" value="{{firstName}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Search by last name:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Search by last name:"
                                aria-describedby="button-addon2" [(ngModel)]="lastName" value="{{lastName}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" (click)="filterUsers()">Apply filters</button>
                <button type="button" class="btn btn-outline-secondary" (click)="resetFilters()">Reset filters</button>
            </div>
        </div>
    </div>
</div>