<div class="d-flex justify-content-between align-items-center py-3 px-4">
    <div class="d-flex justify-content-between">
        <button  type="button" class="btn btn-outline-secondary"
            data-bs-toggle="modal" data-bs-target="#exampleModalFilters" (click)="loadCategoriesForSelect()">Filters</button>
        <div  class="d-flex align-items-center ms-4">
            <label class="me-1 ">Sort by release date: </label>
            <button type="button" class="btn btn-outline-secondary me-3" (click)="changeSort()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-sort-down" viewBox="0 0 16 16">
                    <path *ngIf="sort==='desc'"
                        d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z">
                    </path>
                    <path *ngIf="sort==='asc'"
                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-outline-secondary me-2" data-bs-toggle="modal"
            data-bs-target="#exampleModalEditCategories" (click)="loadCategoriesForSelect()">Edit categories</button>
        <a  class="btn btn-success"
            (click)="showAddMovie()" data-bs-toggle="modal" data-bs-target="#exampleModalMovie">Add movie</a>
    </div>
    
</div>

<div *ngIf="movies" class="tab-content" id="pills-tabContent">
    <div *ngFor="let m of movies" class="list-group">
        <a class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-2">
                    <img class="rounded me-3" style="height: 150px; width: 100px;" src="{{m.photo}}" (click)="gotoDetails(m)">
                </div>
                <div class="col-4">
                    <div class="w-100">
                        <h5 class="mb-1" (click)="gotoDetails(m)">{{m.title}}</h5>
                    </div>
                    <p class="mb-1">Director: {{m.director}}</p>
                    <p class="mb-1">Release date: {{m.releaseDate}}</p>
                    <p class="mb-1">Duration: {{m.duration}}</p>
                    <p class="mb-1">Category: {{m.category.name}}</p>

                    <small class="text-muted">Average rat: {{m.averageRate}}</small>
                    <button type="button" class="btn btn-outline-danger ms-2" (click)="resetAverageRate(m.id)"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        reset
                    </button>
                </div>
                <div class="col-4">
                    <p class="mb-1"><strong>Description:</strong> {{m.description}}</p>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-end">
                    <button class="me-3 iconSVG editSVG" (click)="showUpdateMovie(m)" data-bs-toggle="modal" data-bs-target="#exampleModalMovie"><img title="Update movie" src="assets/images/edit.svg"></button>
                    <button class="iconSVG deleteSVG"><img (click)="deleteMovie(m.id)" title="Delete movie" src="assets/images/delete.svg"></button>
                    <!-- <a class="btn btn-primary" (click)="showUpdateMovie(m)"
                        data-bs-toggle="modal" data-bs-target="#exampleModalMovie">Update</a> -->
                    <!-- <a class="btn btn-danger ms-1" (click)="deleteMovie(m.id)">Delete</a> -->
                </div>
            </div>
        </a>
    </div>
</div>

<nav *ngIf="movies" aria-label="..." class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        <div *ngIf="currentPage===0; else elseBlock">
            <li class="page-item disabled  me-1">
                <span class="page-link btn btn-light border border-secondary border-opacity-25">Previous</span>
            </li>
        </div>
        <ng-template #elseBlock>
            <li class="page-item  me-1">
                <a class="page-link btn btn-light border border-secondary"
                    (click)="decrementPage()">Previous</a>
            </li>
        </ng-template>

        <div *ngFor="let item of createRange(pageCount); index as i">
            <div *ngIf="i!==currentPage; else elseBlock2">
                <li class="page-item">
                    <a class="btn btn-light border border-secondary" (click)="goToPage(i)">{{i + 1}}</a>
                </li>
            </div>
            <ng-template #elseBlock2>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{i + 1}}</span>
                </li>
            </ng-template>
        </div>

        <div *ngIf="currentPage===pageCount-1; else elseBlock1">
            <li class="page-item disabled ms-1">
                <span class="page-link btn btn-light border border-secondary border-opacity-25">Next</span>
            </li>
        </div>
        <ng-template #elseBlock1>
            <li class="page-item ms-1">
                <a class="page-link btn btn-light border border-secondary" (click)="incrementPage()">Next</a>
            </li>
        </ng-template>
    </ul>
</nav>




<div class="modal fade" id="exampleModalMovie" tabindex="-1" aria-labelledby="exampleModalLabelMovie"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 *ngIf="movieForUpdate && showAddModal===false" class="modal-title fs-5" id="exampleModalLabelMovie">
                    Update movie:
                </h1>
                <h1 *ngIf="showAddModal===true" class="modal-title fs-5" id="exampleModalLabelMovie">
                    Add movie:
                </h1>
            </div>
            <div *ngIf="movieForUpdate" class="modal-body ps-4">
                <div class="ps-2">
                    Title: <input class="form-control" type="text" [(ngModel)]="movieForUpdate.title"><br>
                    Photo: <input class="form-control" type="url" placeholder="https://example.com" pattern="https://.*"
                        [(ngModel)]="movieForUpdate.photo"><br>
                    Description: <textarea class="form-control" aria-label="With textarea"
                        [(ngModel)]="movieForUpdate.description"></textarea><br>
                    Duration: <input type="number" [(ngModel)]="movieForUpdate.duration"> min<br><br>
                    Director: <input type="text" [(ngModel)]="movieForUpdate.director"><br><br>
                    Release date: <input type="date" [(ngModel)]="movieForUpdate.releaseDate"><br><br>
                    Category:
                    <select *ngIf="categories" [(ngModel)]="movieForUpdate.category.id">
                        <option [value]="0" disabled>Choose category</option>
                        <option *ngFor="let c of categories" [value]="c.id">
                            {{ c.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="!addMovieComplete()" style="color: red;">Fill in all the fields!</div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetMovieForUpdate()">Close</button>
                <button *ngIf="movieForUpdate && showAddModal===false && addMovieComplete()" type="button"
                    (click)="updateMovie()" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
                <button *ngIf="movieForUpdate && showAddModal===false && !addMovieComplete()" disabled type="button"
                    class="btn btn-primary">Update</button>
                <button *ngIf="showAddModal===true && addMovieComplete()" type="button" (click)="addMovie()"
                    class="btn btn-primary" data-bs-dismiss="modal">Add movie</button>
                <button *ngIf="showAddModal===true && !addMovieComplete()" disabled type="button"
                    class="btn btn-primary">Add movie</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalFilters" tabindex="-1" aria-labelledby="exampleModalLabelFilters"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelFilters">Filter movies</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-3">
                        <label class="col-form-label">Search by title:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Search by title:"
                                aria-describedby="button-addon2" [(ngModel)]="titleFilter" value="{{titleFilter}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Select genre:</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCategory">
                            <option [ngValue]='0'></option>
                            <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Filter by release year:</label>
                        <input class="ms-2" type="number" min="1930" max="2050" step="1" [(ngModel)]="year" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-success" (click)="filterMovies()">Apply filters</button>
                <button type="button" class="btn btn-outline-secondary" (click)="resetFilters()">Reset filters</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalEditCategories" tabindex="-1" aria-labelledby="exampleModalLabelEditCategories"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabelEditCategories">Edit categories</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a *ngFor="let c of categories" class="list-group-item list-group-item-action">
                        <div *ngIf="showUpdateCategoryFlag !== c.id; else updateCat"
                            class="d-flex justify-content-between">
                            <div>{{c.name}}</div>
                            <div>
                                <a (click)="showUpdateCategory(c)" class="btn btn-outline-primary ms-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Update</a>
                                <a (click)="deleteCategory(c.id)" class="btn btn-outline-danger ms-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</a>
                            </div>
                        </div>
                        <ng-template #updateCat class="d-flex ">
                            <input type="text" class="form-control" [(ngModel)]="categoryForUpdate.name">
                            <div class="d-flex flex-row-reverse">
                                <a (click)="closeUpdateCategory()" class="btn btn-outline-secondary ms-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Close</a>
                                <a (click)="updateCategory()" class="btn btn-outline-primary ms-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Update</a>
                            </div>
                        </ng-template>
                    </a>
                </div>
                <div class="row mt-2">
                    <div class="col-10 pe-0">
                        <input type="text" placeholder="Insert new category name" class="form-control"
                            [(ngModel)]="newCategory">
                    </div>
                    <div class="col-2 ps-0 d-flex flex-column">
                        <button type="button" class="btn btn-success d-flex flex-column"
                            (click)="addCategory()">Add</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>