<div class="container pt-3">
    <h2 class="card card-header text-center mb-2">Repertoire</h2>
    <div class="row">
        <div class="col-md-3">
            <ul *ngIf="cities" class="list-group">
                <li class="list-group-item">Find Cinemas By City</li>
                <li [ngClass]="city.name==currentCity.name?'active':''" *ngFor="let city of cities"
                    class="list-group-item clickable" (click)="onGetCinema(city)">{{city.name}}</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card border shadow-0 mb-3">
                <div class="card-header">Cinema For {{cityName}} </div>
                <div class="card-body">
                    <ul *ngIf="cinemas" class="nav nav-tabs nav-fill" style="background: #f0f2f5;">
                        <li *ngFor="let cinema of cinemas" class="nav-item">
                            <a [ngClass]="cinema.name==currentCinema.name?'active':''" class="nav-link"
                                (click)="selectCinema(cinema)">{{cinema.name}}</a>
                        </li>
                    </ul>
                    <ul *ngIf="dates" class="nav nav-pills nav-justified my-3" id="pills-tab" role="tablist">
                        <li *ngFor="let date of dates" class="nav-item" role="presentation">
                            <button [ngClass]="date==selectedDate?'active':''" class="nav-link"
                                (click)="onGetProjections(date)" id="pills-home-tab" type="button"
                                role="tab">{{date}}</button>
                        </li>
                    </ul>
                    <div *ngIf="projections" class="tab-content" id="pills-tabContent">
                        <div *ngFor="let proj of projections" class="list-group">
                            <a class="list-group-item list-group-item-action">
                                <div class="d-flex">
                                    <img class="rounded float-start me-3" style="height: 150px; width: 100px;"
                                        src="{{proj.movie.photo}}" (click)="gotoDetails(proj.movie)">
                                    <div class="flex-fill">
                                        <div class="w-100">
                                            <h5 class="mb-1" (click)="gotoDetails(proj.movie)">{{proj.movie.title}}</h5>
                                        </div>
                                        <p class="mb-1">Director: {{proj.movie.director}}</p>
                                        <p class="mb-1">Release date: {{proj.movie.releaseDate}}</p>
                                        <p class="mb-1">Duration: {{proj.movie.duration}}</p>
                                        <p class="mb-1">Category: {{proj.movie.category.name}}</p>

                                        <small class="text-muted">Average rat: {{proj.movie.averageRate}}</small>
                                    </div>
                                    <div class="card text-end" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Hall: {{proj.hall.name}}</h5>
                                            <h5 class="card-title">Start time: {{proj.startTime.slice(0, 5)}}</h5>
                                            <h5 class="card-title">Price: {{proj.price}} din</h5>
                                            <br>
                                            <button *ngIf="! isLoggedIn()" type="button" class="btn btn-primary"
                                                routerLink="/login">Book a ticket</button>
                                            <a *ngIf="isLoggedIn()" class="btn btn-primary" (click)="goToBooking(proj)">Book a ticket</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>