<div class="container pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card border shadow-0">
                <div *ngIf="projection.movie" class="card-header">
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <img class="rounded float-start me-3" style="height: 400px; width: 300px;"
                                src="{{projection.movie.photo}}">
                            <div class="flex-fill">
                                <div class="w-100">
                                    <h5 class="mb-1">{{projection.movie.title}}</h5>
                                </div>
                                <p class="mb-1 mt-3">Director: {{projection.movie.director}}</p>
                                <p class="mb-1">Movie release date: {{projection.movie.releaseDate}}</p>
                                <p class="mb-1">Duration: {{projection.movie.duration}} min</p>
                                <p class="mb-1">Category: {{projection.movie.category.name}}</p>
                                <small class="text-muted mt-3">Average rat: {{projection.movie.averageRate}}</small><br>
                                <ngb-rating [max]="10" [rate]="avgRate" [readonly]="true"></ngb-rating>
                                <p class="mb-1  mt-3">City: {{projection.hall.cinema.city.name}}</p>
                                <p class="mb-1">Cinema: {{projection.hall.cinema.name}}</p>
                                <p class="mb-1">Hall: {{projection.hall.name}} sala</p>
                                <h5 class="mb-1  mt-3">Date: {{projection.dateProjection.slice(0,10)}}</h5>
                                <h5 class="mb-1">Start time: {{projection.startTime.slice(0, 5)}}</h5>
                                <h5 class="mb-1">Price per seat: {{projection.price}} din</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body px-5" style="width: 600px;">
                <h3 class="mb-4">Choose seats:</h3>
                <div class="row" *ngIf="seats && tickets">
                    <button class="btn {{getSeatClass(s)}} seat" (click)="onSelectSeat(s)"
                        [disabled]="isReservedSeat(s)" *ngFor="let s of seats">
                        {{s.number}}
                    </button>
                </div>
            </div>
            <div class="mt-4 pe-5 d-flex justify-content-evenly">
                <div>Reserved seat: <button class="btn btn-danger seat" [disabled]="true">-</button></div>
                <div>Selected seat: <button class="btn btn-warning seat" [disabled]="true">-</button></div>
                <div>Free seat: <button class="btn btn-success seat" [disabled]="true">-</button></div>
            </div>
            <div class="mt-3 px-5 d-flex flex-row">
                <div class="mx-4"><strong>Price: {{price}} din</strong></div>
                <button *ngIf="selectedSeats.length === 0" type="button" class="mx-5 btn btn-primary" disabled>Book a
                    ticket for selected seats</button>
                
                <a *ngIf="!isLoggedIn() && selectedSeats.length > 0" routerLink="/login" class="mx-5 btn btn-primary">Book a ticket for selected seats</a>
                <a *ngIf="isLoggedIn() && selectedSeats.length > 0" class="mx-5 btn btn-primary" (click)="bookTicket()"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">Book a ticket for selected seats</a>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    <svg *ngIf="createdTicket" xmlns="http://www.w3.org/2000/svg"
                                        style="display: none;">
                                        <symbol id="info-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                        </symbol>
                                    </svg>
                                    <div *ngIf="createdTicket" class="alert alert-success d-flex align-items-center"
                                        role="alert">
                                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:">
                                            <use xlink:href="#check-circle-fill" />
                                        </svg>
                                        <div>
                                            {{createdTicket.user.userFirstName}} {{createdTicket.user.userLastName}},
                                            you have successfully booked your ticket!
                                        </div>
                                    </div>
                                    Your ticket:
                                </h1>
                            </div>
                            
                            <div *ngIf="createdTicket" class="modal-body ps-4">
                                <strong>Ticket ID: {{createdTicket.id}}</strong><br>
                                <strong>Price: {{createdTicket.price}} din</strong>
                                <br>
                                <strong>Projection:</strong>
                                <div class="ps-2">
                                    Date: {{createdTicket.projection.dateProjection.slice(0,10)}}<br>
                                    Location: {{createdTicket.projection.hall.cinema.city.name}},
                                    {{createdTicket.projection.hall.cinema.name}}<br>
                                    Hall: {{createdTicket.projection.hall.name}}
                                </div>
                                <strong>Movie:</strong>
                                <div class="ps-2">
                                    Title: {{createdTicket.projection.movie.title}}<br>
                                    Duration: {{createdTicket.projection.movie.duration}} min<br>
                                    Start time: {{createdTicket.projection.startTime.slice(0, 5)}}<br>
                                </div>
                                <strong>Ticket owner:</strong>
                                <div class="ps-2 mb-1">
                                    Name: {{createdTicket.user.userFirstName}} {{createdTicket.user.userLastName}}
                                </div>
                                <strong>
                                    Reserved seats: (
                                    <ng-container *ngFor="let s of createdTicket.seats; last as isLast"> {{s.number}}<ng-container *ngIf="! isLast">,</ng-container></ng-container> )
                                </strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/user">See all your tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="me-5 mt-1 pe-5 d-flex flex-row-reverse">
                <div *ngIf="selectedSeats.length === 0" class="alert alert-danger alert-dismissible fade show"
                    role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                        viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <strong>{{msg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>