<div class="container pt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="card border shadow-0">
                <div *ngIf="selectedMovie" class="card-header">
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <img class="rounded float-start me-3" style="height: 300px; width: 200px;"
                                src="{{selectedMovie.photo}}">
                            <div class="flex-fill">
                                <div class="w-100">
                                    <h5 class="mb-1">{{selectedMovie.title}}</h5>
                                </div>
                                <br>
                                <p class="mb-1">Director: {{selectedMovie.director}}</p>
                                <p class="mb-1">Release date: {{selectedMovie.releaseDate}}</p>
                                <p class="mb-1">Duration: {{selectedMovie.duration}} min</p>
                                <p class="mb-1">Category: {{selectedMovie.category.name}}</p>
                                <br>
                                <small class="text-muted">Average rat: {{selectedMovie.averageRate}}</small>
                                <br>
                                <ngb-rating [max]="10" [rate]="avgRate" [readonly]="true"></ngb-rating>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <ul *ngIf="dates" class="nav nav-pills nav-justified my-3" id="pills-tab" role="tablist">
                    <li *ngFor="let date of dates" class="nav-item" role="presentation">
                        <button [ngClass]="date==selectedDate?'active':''" class="nav-link"
                            (click)="onGetProjections(date)" id="pills-home-tab" type="button"
                            role="tab">{{date.slice(5)}}</button>
                    </li>
                </ul>
                <div *ngIf="projections" class="tab-content" id="pills-tabContent">
                    <div *ngFor="let proj of projections" class="mt-1 list-group">
                        <a class="list-group-item list-group-item-action">
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <div class="w-100">
                                        <h5 class="mb-1">{{proj.movie.title}}</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="mb-1">City: {{proj.hall.cinema.city.name}}</p>
                                            <p class="mb-1">Cinema: {{proj.hall.cinema.name}}</p>
                                            <p class="mb-1">Hall: {{proj.hall.name}} sala</p>
                                        </div>
                                        <div class="col-6 ">
                                            <h5 class="mb-1">Start time: {{proj.startTime.slice(0, 5)}}</h5>
                                            <h5 class="mb-1">Price: {{proj.price}} din</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="d-flex flex-row-reverse">
                                            <button *ngIf="! isLoggedIn()" type="button" class="btn btn-primary"
                                                routerLink="/login">Book a ticket</button>
                                            <a *ngIf="isLoggedIn()" class="btn btn-primary" (click)="goToBooking(proj)">Book a ticket</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>